.indexWrapper{
    display: grid;
    grid-template-rows: 40vh 30vh 30vh 30vh;
    grid-auto-columns: 20vh 60vh 40dvh;
    

}

.restaurantWrapper{
    display: grid;
}

.receptWrapper{
    display: grid;
}

header{
    background-color: #e67e22;
    height: 10vh;

    display: flex;
    justify-content:left;
    align-items: center;
}

.headerTitle{
    margin: 0%;
    width:fit-content;
    padding-left: 10px;
    color: white;
    font-family: "Roboto Mono", monospace;

}